/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fefaf6; /* Light cream background */
  color: #000;               /* Text color black */
}
